/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel
.env
.env.backup
.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpactor.json
.php-cs-fixer.cache
phpstan.neon.cache
rector.php.cache

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Package specific
/public/
/workbench/
/build/
